@font-face {
    font-family: "Helvetica Now Display";
    src: local("Helvetica Now Display Regular"), local("Helvetica-Now-Display-Regular"),
        url("../fonts/HelveticaNowDisplay/HelveticaNowDisplay-Regular.woff2") format("woff2"),
        url("../fonts/HelveticaNowDisplay/HelveticaNowDisplay-Regular.woff") format("woff"),
        url("../fonts/HelveticaNowDisplay/HelveticaNowDisplay-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Helvetica Now Display";
    src: local("Helvetica Now Display Medium"), local("Helvetica-Now-Display-Medium"),
        url("../fonts/HelveticaNowDisplay/HelveticaNowDisplay-Medium.woff2") format("woff2"),
        url("../fonts/HelveticaNowDisplay/HelveticaNowDisplay-Medium.woff") format("woff"),
        url("../fonts/HelveticaNowDisplay/HelveticaNowDisplay-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Helvetica Now Display";
    src: local("Helvetica Now Display Bold"), local("Helvetica-Now-Display-Bold"),
        url("../fonts/HelveticaNowDisplay/HelveticaNowDisplay-Bold.woff2") format("woff2"),
        url("../fonts/HelveticaNowDisplay/HelveticaNowDisplay-Bold.woff") format("woff"),
        url("../fonts/HelveticaNowDisplay/HelveticaNowDisplay-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

html {
    scroll-behavior: smooth;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

html::-webkit-scrollbar {
    display: none;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .body {
        @apply bg-white font-body text-black transition-colors selection:bg-select dark:bg-black dark:text-white;
    }

    .btn {
        @apply flex appearance-none items-center justify-between border border-black py-12px px-12px text-h2 font-bold uppercase before:mr-8px before:shrink-0 before:border-t-12px before:border-r-12px before:border-t-current before:border-r-transparent before:border-b-transparent before:border-l-transparent before:transition-transform after:ml-8px after:shrink-0 after:border-t-12px after:border-r-12px after:border-t-transparent after:border-r-current after:border-b-transparent after:border-l-transparent after:transition-transform hover:before:-rotate-90 hover:after:-rotate-90 dark:border-white sm:px-20px sm:text-h2_md sm:before:mr-12px sm:before:border-t-18px sm:before:border-r-18px sm:after:ml-14px sm:after:border-t-18px sm:after:border-r-18px md:py-14px lg:text-h2_lg xl:text-h2_xl;
    }

    .btn-skew {
        @apply p1 relative inline-flex px-20px py-2px before:absolute before:top-0 before:left-0 before:h-full before:w-full before:-skew-x-12 before:border-[2px] before:border-black after:z-[1] after:transition after:content-[attr(data-text)] hover:after:text-white dark:before:border-white dark:hover:after:text-black md:px-24px lg:px-20px xl:px-[30px];
    }

    .btn-skew span {
        @apply absolute top-0 left-0 h-full w-full origin-left -skew-x-12 scale-x-0 bg-black text-[0px] transition dark:bg-white;
    }

    .btn-skew:hover span {
        @apply scale-x-100;
    }

    h1,
    .h1 {
        @apply text-h1 font-bold md:text-h1_md lg:text-h1_lg xl:text-h1_xl;
    }

    h2,
    .h2 {
        @apply text-h2 font-bold md:text-h2_md lg:text-h2_lg xl:text-h2_xl;
    }

    h3,
    .h3 {
        @apply text-h3 font-medium md:text-h3_md lg:text-h3_lg xl:text-h3_xl;
    }

    .p1 {
        @apply text-p1 md:text-p1_md lg:text-p1_lg xl:text-p1_xl;
    }

    .p2 {
        @apply text-p2 md:text-p2_md lg:text-p2_lg xl:text-p2_xl;
    }

    label {
        @apply text-p2_md lg:text-p2_lg xl:text-p2_xl;
    }

    .field {
        @apply block w-full appearance-none rounded-none border-b border-black bg-transparent py-8px text-p2_md focus:outline-none dark:border-white lg:text-p2_lg xl:text-p2_xl;
    }

    .field.error {
        @apply border-red;
    }

    .field-attach {
        @apply p2 afterline absolute right-0 bottom-[9px] z-[1] lg:bottom-8px;
    }

    .field-resize {
        @apply resize-none overflow-hidden;
    }

    .field-attach ~ .field,
    .field-attach ~ label {
        @apply pr-40px md:pr-60px lg:pr-80px;
    }

    .float-field {
        @apply relative flex flex-col items-stretch;
    }

    .float-field .field {
        @apply placeholder-transparent;
    }

    .float-field label {
        @apply order-first w-full origin-top-left scale-[0.875] opacity-50 transition-all lg:pointer-events-none;
    }

    .float-field .field:placeholder-shown ~ label {
        @apply translate-y-[32px] scale-100 opacity-100 lg:translate-y-[34px] xl:translate-y-[42px];
    }

    .float-field .field:focus ~ label {
        @apply translate-y-0 scale-[0.875] opacity-50;
    }

    .field:disabled,
    .field:disabled ~ label {
        @apply !opacity-30;
    }

    input[type="checkbox"] {
        @apply h-24px w-24px flex-shrink-0 cursor-pointer appearance-none rounded-none border border-black dark:border-white;
    }

    input[type="checkbox"]:checked {
        @apply bg-check bg-contain bg-center dark:backdrop-invert;
    }

    input[type="checkbox"] ~ label {
        @apply py-[3px] md:py-0;
    }

    .afterline {
        @apply relative transition after:absolute after:-bottom-0 after:left-0 after:w-full after:border-b after:border-black after:transition hover:text-grey hover:after:border-grey dark:after:border-white;
    }
}

html,
body {
    @apply min-h-full;
}

.wrapper {
    @apply origin-center transition-wrapper delay-500 duration-500;
}

.wrapper.is-loading {
    @apply h-screen scale-75 overflow-hidden blur-sm;
}

.wrapper.is-loading .cursor {
    @apply opacity-0;
}

.wrapper.is-not-loading {
    @apply scale-100 blur-0;
}

.error-message {
    @apply hidden;
}

.slide-text {
    @apply relative;
}

.slide-text > *:not(:first-child) {
    @apply absolute top-0 left-0 opacity-0;
}

.raw {
    @apply p2;
}

.raw p {
    @apply my-24px;
}

.raw h2,
.raw h3 {
    @apply uppercase;
}

.raw h2 {
    @apply mt-60px mb-40px;
}

.raw ul {
    @apply my-24px list-inside list-[square];
}

.raw ol {
    @apply my-24px list-inside list-decimal;
}

.raw a {
    @apply relative transition after:absolute after:-bottom-0 after:left-0 after:w-full after:border-b after:border-black after:transition hover:text-grey hover:after:border-grey dark:after:border-white;
}

.raw-p1 p {
    @apply p1 my-24px md:my-40px;
}

.raw-p1 p:first-child {
    @apply mt-0;
}

.raw-p1 p:last-child {
    @apply mb-0;
}

.cursor {
    @apply pointer-events-none fixed top-0 left-0 z-50 hidden h-40px w-40px;
}

.cursor-item {
    @apply fixed top-0 left-0 h-40px w-40px fill-current;
}
