<!DOCTYPE html>
<html lang="en">
    @@include("../views/parts/head.html", { "title": "Home page" })

    <body
        x-data="{ menuIsOpen: false }"
        @open-menu.window="menuIsOpen = $event.detail"
        class="bg-white font-body text-black transition-colors dark:bg-black dark:text-white">
        <!--header-->
        @@include("../views/parts/header.html")

        <!--hero-->
        <div :class="menuIsOpen && 'blur-sm'" class="mt-20px px-10px transition md:mt-0 md:px-20px">
            <div
                class="relative h-[calc(var(--vh,_100vh)_-_var(--header,_300px)_-_30px)] min-h-[320px] border border-black dark:border-white md:h-[calc(var(--vh,_100vh)_-_var(--header,_300px)_-_20px)] md:min-h-[600px]">
                <button
                    class="btn absolute bottom-0 left-0 right-0 border-b-0 border-l-0 border-r-0 md:right-auto md:border-r"
                    type="button">
                    Get in touch
                </button>
            </div>
        </div>

        <!--about-->
        <section
            class="relative mt-60px grid-cols-6 gap-x-20px overflow-hidden px-10px md:mt-80px md:grid md:px-20px lg:overflow-visible">
            <lottie-player
                id="aboutCross"
                src="files/wave.json"
                class="absolute bottom-[45px] -right-[33px] -z-10 h-[391px] w-[362px] md:bottom-40px md:-right-24px lg:-bottom-[170px] lg:-right-[calc(-50%_+_282px)] lg:h-[609px] lg:w-[564px] xl:-bottom-[160px] xl:-right-[calc(-50%_+_410px)] xl:h-[646px] xl:w-[600px]"></lottie-player>
            <div class="col-span-5 md:pr-60px lg:pr-0">
                <h2 class="h1">We help inspire</h2>
                <div class="p1 mt-24px lg:mt-40px">
                    <p>
                        Klad is an interdimensional design syndicate that provides comprehensive long-lasting solutions
                        for people. Every design we deliver is original, and every project is treated uniquely. We treat
                        our clients as long-term partners. We do not work to indulge but to help them achieve new
                        heights in everything they do.
                    </p>
                </div>
            </div>
            <div
                class="col-span-full mt-[200px] flex flex-col items-stretch gap-24px md:mt-60px md:flex-row-reverse md:items-end md:gap-0 lg:mt-80px xl:mt-60px">
                <button class="btn h2 flex-shrink-0" type="button">Download portfolio</button>
                <div class="flex-grow md:border-b md:border-black md:pr-24 dark:md:border-white">
                    <lottie-player
                        id="aboutBarcode"
                        src="files/barcode.json"
                        preserveAspectRatio="none"
                        class="h-12px w-full dark:invert md:w-[187px] lg:w-[524px]"
                        loop
                        autoplay></lottie-player>
                </div>
            </div>
        </section>

        <!--projects-->
        <section class="mt-60px grid-cols-6 gap-x-20px px-10px md:mt-80px md:grid md:px-20px">
            <div class="col-span-5 md:pr-60px lg:pr-0">
                <h2 class="h1">Projects</h2>
                <div class="p1 mt-24px lg:mt-40px">
                    <p>Years of experience to create unique design in agile and fast manner</p>
                </div>
            </div>
            <div class="col-span-full mt-40px md:mt-60px">
                <div class="grid grid-cols-6 gap-x-20px gap-y-24px lg:gap-y-40px">
                    <!--item-3-col-->
                    <a
                        href="/project.html"
                        class="col-span-full flex flex-col border border-black dark:border-white lg:col-span-3">
                        <div class="flex-shrink-0 md:flex">
                            <div class="flex flex-shrink-0 items-center p-16px md:py-24px">
                                <h3 class="h3 uppercase">the 78 lab</h3>
                            </div>
                            <div
                                class="flex flex-grow items-center border-t border-black p-16px dark:border-white md:border-t-0 md:border-l md:py-8px">
                                <p class="p2">Klad is an interdimensional design syndicate providing comprehensive</p>
                            </div>
                        </div>
                        <div class="flex-grow overflow-hidden border-t border-black dark:border-white">
                            <picture>
                                <img class="h-full w-full object-cover" src="img/projects/1.jpg" alt="the 78 lab" />
                            </picture>
                        </div>
                        <div
                            class="flex flex-shrink-0 flex-col gap-y-8px border-t border-black p-16px dark:border-white md:flex-row">
                            <div class="h3 flex-shrink-0 uppercase md:w-[164px] xl:w-[205px]">Work scope //</div>
                            <p class="p2">Web-design, UI/UX, Branding, 3D, Motion</p>
                        </div>
                        <div
                            class="flex flex-shrink-0 flex-col gap-y-8px border-t border-black p-16px dark:border-white md:flex-row">
                            <div class="h3 flex-shrink-0 uppercase md:w-[164px] xl:w-[205px]">Tools Used //</div>
                            <p class="p2">Figma, Adobe Photoshop, After Effects, HTML, CSS, JavaScript, Three.js</p>
                        </div>
                    </a>

                    <!--item-3-col-->
                    <a
                        href="/project.html"
                        class="col-span-full flex flex-col border border-black dark:border-white lg:col-span-3">
                        <div class="flex-shrink-0 md:flex">
                            <div class="flex flex-shrink-0 items-center p-16px md:py-24px">
                                <h3 class="h3 uppercase">vinst</h3>
                            </div>
                            <div
                                class="flex flex-grow items-center border-t border-black p-16px dark:border-white md:border-t-0 md:border-l md:py-8px">
                                <p class="p2">Klad is an interdimensional design</p>
                            </div>
                        </div>
                        <div class="flex-grow overflow-hidden border-t border-black dark:border-white">
                            <picture>
                                <img class="h-full w-full object-cover" src="img/projects/2.jpg" alt="vinst" />
                            </picture>
                        </div>
                        <div
                            class="flex flex-shrink-0 flex-col gap-y-8px border-t border-black p-16px dark:border-white md:flex-row">
                            <div class="h3 flex-shrink-0 uppercase md:w-[164px] xl:w-[205px]">Work scope //</div>
                            <p class="p2">Web-design, UI/UX, Branding, 3D, Motion</p>
                        </div>
                        <div
                            class="flex flex-shrink-0 flex-col gap-y-8px border-t border-black p-16px dark:border-white md:flex-row">
                            <div class="h3 flex-shrink-0 uppercase md:w-[164px] xl:w-[205px]">Tools Used //</div>
                            <p class="p2">Figma, Blender, After Effects, HTML, CSS, JavaScript</p>
                        </div>
                    </a>

                    <!--item-4-col-->
                    <a
                        href="/project.html"
                        class="col-span-full flex flex-col border border-black dark:border-white lg:col-span-4">
                        <div class="flex-shrink-0 md:flex">
                            <div class="flex flex-shrink-0 items-center p-16px md:py-24px">
                                <h3 class="h3 uppercase">3d-modelling for FetoLife</h3>
                            </div>
                            <div
                                class="flex flex-grow items-center border-t border-black p-16px dark:border-white md:border-t-0 md:border-l md:py-8px">
                                <p class="p2">Klad is an interdimensional design syndicate providing comprehensive</p>
                            </div>
                        </div>
                        <div class="flex-grow overflow-hidden border-t border-black dark:border-white">
                            <picture>
                                <img
                                    class="h-full w-full object-cover"
                                    src="img/projects/3.jpg"
                                    alt="3d-modelling for FetoLife" />
                            </picture>
                        </div>
                        <div
                            class="flex flex-shrink-0 flex-col gap-y-8px border-t border-black p-16px dark:border-white md:flex-row">
                            <div class="h3 flex-shrink-0 uppercase md:w-[164px] xl:w-[205px]">Work scope //</div>
                            <p class="p2">Web-design, UI/UX, Branding, 3D, Motion</p>
                        </div>
                        <div
                            class="flex flex-shrink-0 flex-col gap-y-8px border-t border-black p-16px dark:border-white md:flex-row">
                            <div class="h3 flex-shrink-0 uppercase md:w-[164px] xl:w-[205px]">Tools Used //</div>
                            <p class="p2">Figma, Adobe Photoshop, After Effects, HTML, CSS, JavaScript, Three.js</p>
                        </div>
                    </a>

                    <!--item-2-col-->
                    <a
                        href="/project.html"
                        class="col-span-full flex flex-col border border-black dark:border-white lg:col-span-2">
                        <div class="flex-shrink-0 md:flex">
                            <div class="flex flex-shrink-0 items-center p-16px md:py-24px">
                                <h3 class="h3 uppercase">Kultura</h3>
                            </div>
                            <div
                                class="flex flex-grow items-center border-t border-black p-16px dark:border-white md:border-t-0 md:border-l md:py-8px">
                                <p class="p2">Klad is an interdimensional design</p>
                            </div>
                        </div>
                        <div class="flex-grow overflow-hidden border-t border-black dark:border-white">
                            <picture>
                                <img class="h-full w-full object-cover" src="img/projects/4.jpg" alt="Kultura" />
                            </picture>
                        </div>
                        <div
                            class="flex flex-shrink-0 flex-col gap-y-8px border-t border-black p-16px dark:border-white md:flex-row">
                            <div class="h3 flex-shrink-0 uppercase md:w-[164px] xl:w-[205px]">Work scope //</div>
                            <p class="p2">3D, Motion</p>
                        </div>
                        <div
                            class="flex flex-shrink-0 flex-col gap-y-8px border-t border-black p-16px dark:border-white md:flex-row">
                            <div class="h3 flex-shrink-0 uppercase md:w-[164px] xl:w-[205px]">Tools Used //</div>
                            <p class="p2">Blender, After Effects</p>
                        </div>
                    </a>
                </div>
                <button class="btn mt-40px w-full" type="button">View all</button>
            </div>
        </section>

        <!--form-->
        @@include("../views/parts/form.html")

        <!--footer-->
        @@include("../views/parts/footer.html")
    </body>
</html>
