<!DOCTYPE html>
<html lang="en">
    @@include("../views/parts/head.html", { "title": "Privacy policy" })

    <body class="body flex min-h-screen flex-col">
        <!--header-->
        @@include("../views/parts/header.html")

        <section
            class="raw min-h-[calc(var(--vh,_100vh)_-_var(--header,_300px)_-_83px)] flex-grow px-10px py-60px md:px-20px lg:py-80px">
            <h1>Privacy Notice</h1>
            <p class="p1">Last updated January 01, 2022</p>
            <p>
                Thank you for choosing to be part of our community at შპს კლა (Klad Ltd.) ("Company," "we," "us," or
                "our"). We are committed to protecting your personal information and your right to privacy. If you have
                any questions or concerns about this privacy notice or our practices with regard to your personal
                information, please contact us at
                <a href="mailto:info@klad.design">info@klad.design</a>
                .
            </p>
            <p>This privacy notice describes how we might use your information if you:</p>
            <ul>
                <li>
                    Visit our website at
                    <a href="https://www.klad.design/">https://www.klad.design/</a>
                </li>
                <li>Engage with us in other related ways ― including any sales, marketing, or events</li>
            </ul>
            <p>In this privacy notice, if we refer to:</p>
            <ul>
                <li>"Website," we are referring to any website of ours that references or links to this policy</li>
                <li>
                    "Services," we are referring to our Website, and other related services, including any sales,
                    marketing, or events
                </li>
            </ul>
            <p>
                The purpose of this privacy notice is to explain to you in the clearest way possible what information we
                collect, how we use it, and what rights you have in relation to it. If there are any terms in this
                privacy notice that you do not agree with, please discontinue use of our Services immediately.
            </p>
            <h3 class="uppercase">
                Please read this privacy notice carefully, as it will help you understand what we do with the
                information that we collect.
            </h3>
        </section>

        <!--footer-->
        @@include("../views/parts/footer.html")
    </body>
</html>
