<!DOCTYPE html>
<html lang="en">
    @@include("../views/parts/head.html", { "title": "Projects page" })

    <body
        x-data="{ menuIsOpen: false, showreelIsOpen: false }"
        @open-menu.window="menuIsOpen = $event.detail"
        @open-showreel.window="showreelIsOpen = $event.detail"
        :class="showreelIsOpen && 'overflow-hidden'"
        class="body">
        <!--header-->
        @@include("../views/parts/header.html")

        <!--projects-->
        <section
            :class="menuIsOpen && 'blur-sm'"
            class="grid-cols-6 gap-x-20px px-10px pt-40px transition md:grid md:px-20px md:pt-80px">
            <div class="col-span-5 md:pr-60px lg:pr-0">
                <h2 class="h1">Projects</h2>
                <div class="p1 mt-24px lg:mt-40px">
                    <p>Years of experience to create unique design in agile and fast manner</p>
                </div>
            </div>
            <div
                class="h3 col-span-full mt-40px columns-2 gap-x-20px gap-y-12px font-normal md:grid md:grid-cols-3 lg:mt-60px lg:grid-cols-6">
                <div class="inline-flex w-full flex-col items-start gap-12px md:order-1">
                    <a href="/projects.html" class="text-left uppercase hover:text-grey">Brand strategy</a>
                    <a href="/projects.html" class="text-left uppercase hover:text-grey">Brand identity</a>
                    <a href="/projects.html" class="text-left uppercase hover:text-grey">Messaging</a>
                    <a href="/projects.html" class="text-left uppercase hover:text-grey">SMM</a>
                </div>
                <div class="mt-12px inline-flex w-full flex-col items-start gap-12px md:order-3 md:mt-0">
                    <a href="/projects.html" class="text-left uppercase hover:text-grey">Web-development</a>
                    <a href="/projects.html" class="text-left uppercase hover:text-grey">Front-end</a>
                    <a href="/projects.html" class="text-left uppercase hover:text-grey">Data visualisation</a>
                </div>
                <div class="inline-flex w-full flex-col items-start gap-12px md:order-2">
                    <a href="/projects.html" class="text-left uppercase hover:text-grey">Web-design</a>
                    <a href="/projects.html" class="text-left uppercase hover:text-grey">Motion design</a>
                    <a href="/projects.html" class="text-left uppercase hover:text-grey">3D modelling</a>
                    <a href="/projects.html" class="text-left uppercase hover:text-grey">UI/UX</a>
                </div>
                <div class="mt-12px inline-flex w-full flex-col items-start gap-12px md:order-4 md:mt-0">
                    <a href="/projects.html" class="text-left uppercase hover:text-grey">Sound engineering</a>
                    <a href="/projects.html" class="text-left uppercase hover:text-grey">Sound design</a>
                </div>
                <div
                    class="mt-12px inline-flex w-full flex-col items-start gap-12px md:order-5 md:col-start-3 md:row-start-1 md:mt-0 lg:col-start-6">
                    <a href="/projects.html" class="uppercase text-grey hover:text-grey">All</a>
                </div>
            </div>
            <div class="col-span-full mt-60px md:mt-80px">
                <div class="grid grid-cols-6 gap-x-20px gap-y-24px lg:gap-y-40px">
                    <!--item-3-col-->
                    <a
                        href="/project.html"
                        class="col-span-full flex flex-col border border-black dark:border-white lg:col-span-3">
                        <div class="flex-shrink-0 md:flex">
                            <div class="flex flex-shrink-0 items-center p-16px md:py-24px">
                                <h3 class="h3 uppercase">the 78 lab</h3>
                            </div>
                            <div
                                class="flex flex-grow items-center border-t border-black p-16px dark:border-white md:border-t-0 md:border-l md:py-0">
                                <p class="p2">Klad is an interdimensional design syndicate providing comprehensive</p>
                            </div>
                        </div>
                        <div
                            class="relative flex-grow overflow-hidden border-t border-black dark:border-white"
                            data-switch-images>
                            <picture>
                                <img
                                    style="visibility: visible"
                                    class="h-full w-full object-cover"
                                    src="img/projects/1.jpg"
                                    loading="lazy"
                                    alt="the 78 lab" />
                            </picture>
                            <picture class="absolute top-0 left-0 h-full w-full">
                                <img
                                    style="visibility: hidden"
                                    class="h-full w-full object-cover"
                                    src="img/projects/2.jpg"
                                    loading="lazy"
                                    alt="the 78 lab" />
                            </picture>
                            <picture class="absolute top-0 left-0 h-full w-full">
                                <img
                                    style="visibility: hidden"
                                    class="h-full w-full object-cover"
                                    src="img/projects/3.jpg"
                                    loading="lazy"
                                    alt="the 78 lab" />
                            </picture>
                            <picture class="absolute top-0 left-0 h-full w-full">
                                <img
                                    style="visibility: hidden"
                                    class="h-full w-full object-cover"
                                    src="img/projects/4.jpg"
                                    loading="lazy"
                                    alt="the 78 lab" />
                            </picture>
                        </div>
                        <div
                            class="flex flex-shrink-0 flex-col gap-y-8px border-t border-black p-16px dark:border-white md:flex-row">
                            <div class="h3 flex-shrink-0 uppercase md:w-[164px] xl:w-[205px]">Work scope //</div>
                            <p class="p2">Web-design, UI/UX, Branding, 3D, Motion</p>
                        </div>
                        <div
                            class="flex flex-shrink-0 flex-col gap-y-8px border-t border-black p-16px dark:border-white md:flex-row">
                            <div class="h3 flex-shrink-0 uppercase md:w-[164px] xl:w-[205px]">Tools Used //</div>
                            <p class="p2">Figma, Adobe Photoshop, After Effects, HTML, CSS, JavaScript, Three.js</p>
                        </div>
                    </a>

                    <!--item-3-col-->
                    <a
                        href="/project-video.html"
                        class="col-span-full flex flex-col border border-black dark:border-white lg:col-span-3">
                        <div class="flex-shrink-0 md:flex">
                            <div class="flex flex-shrink-0 items-center p-16px md:py-24px">
                                <h3 class="h3 uppercase">vinst</h3>
                            </div>
                            <div
                                class="flex flex-grow items-center border-t border-black p-16px dark:border-white md:border-t-0 md:border-l md:py-0">
                                <p class="p2">Klad is an interdimensional design</p>
                            </div>
                        </div>
                        <div
                            class="relative flex-grow overflow-hidden border-t border-black dark:border-white"
                            data-switch-images>
                            <picture>
                                <img
                                    style="visibility: visible"
                                    class="h-full w-full object-cover"
                                    src="img/projects/2.jpg"
                                    loading="lazy"
                                    alt="vinst" />
                            </picture>
                            <picture class="absolute top-0 left-0 h-full w-full">
                                <img
                                    style="visibility: hidden"
                                    class="h-full w-full object-cover"
                                    src="img/projects/3.jpg"
                                    loading="lazy"
                                    alt="vinst" />
                            </picture>
                            <picture class="absolute top-0 left-0 h-full w-full">
                                <img
                                    style="visibility: hidden"
                                    class="h-full w-full object-cover"
                                    src="img/projects/4.jpg"
                                    loading="lazy"
                                    alt="vinst" />
                            </picture>
                            <picture class="absolute top-0 left-0 h-full w-full">
                                <img
                                    style="visibility: hidden"
                                    class="h-full w-full object-cover"
                                    src="img/projects/1.jpg"
                                    loading="lazy"
                                    alt="vinst" />
                            </picture>
                        </div>
                        <div
                            class="flex flex-shrink-0 flex-col gap-y-8px border-t border-black p-16px dark:border-white md:flex-row">
                            <div class="h3 flex-shrink-0 uppercase md:w-[164px] xl:w-[205px]">Work scope //</div>
                            <p class="p2">Web-design, UI/UX, Branding, 3D, Motion</p>
                        </div>
                        <div
                            class="flex flex-shrink-0 flex-col gap-y-8px border-t border-black p-16px dark:border-white md:flex-row">
                            <div class="h3 flex-shrink-0 uppercase md:w-[164px] xl:w-[205px]">Tools Used //</div>
                            <p class="p2">Figma, Blender, After Effects, HTML, CSS, JavaScript</p>
                        </div>
                    </a>

                    <!--item-4-col-->
                    <a
                        href="/project.html"
                        class="col-span-full flex flex-col border border-black dark:border-white lg:col-span-4">
                        <div class="flex-shrink-0 md:flex">
                            <div class="flex flex-shrink-0 items-center p-16px md:py-24px">
                                <h3 class="h3 uppercase">3d-modelling for FetoLife</h3>
                            </div>
                            <div
                                class="flex flex-grow items-center border-t border-black p-16px dark:border-white md:border-t-0 md:border-l md:py-0">
                                <p class="p2">Klad is an interdimensional design syndicate providing comprehensive</p>
                            </div>
                        </div>
                        <div
                            class="relative flex-grow overflow-hidden border-t border-black dark:border-white"
                            data-switch-images>
                            <picture>
                                <img
                                    style="visibility: visible"
                                    class="h-full w-full object-cover"
                                    src="img/projects/3.jpg"
                                    loading="lazy"
                                    alt="3d-modelling for FetoLife" />
                            </picture>
                            <picture class="absolute top-0 left-0 h-full w-full">
                                <img
                                    style="visibility: hidden"
                                    class="h-full w-full object-cover"
                                    src="img/projects/4.jpg"
                                    loading="lazy"
                                    alt="3d-modelling for FetoLife" />
                            </picture>
                            <picture class="absolute top-0 left-0 h-full w-full">
                                <img
                                    style="visibility: hidden"
                                    class="h-full w-full object-cover"
                                    src="img/projects/1.jpg"
                                    loading="lazy"
                                    alt="3d-modelling for FetoLife" />
                            </picture>
                            <picture class="absolute top-0 left-0 h-full w-full">
                                <img
                                    style="visibility: hidden"
                                    class="h-full w-full object-cover"
                                    src="img/projects/2.jpg"
                                    loading="lazy"
                                    alt="3d-modelling for FetoLife" />
                            </picture>
                        </div>
                        <div
                            class="flex flex-shrink-0 flex-col gap-y-8px border-t border-black p-16px dark:border-white md:flex-row">
                            <div class="h3 flex-shrink-0 uppercase md:w-[164px] xl:w-[205px]">Work scope //</div>
                            <p class="p2">Web-design, UI/UX, Branding, 3D, Motion</p>
                        </div>
                        <div
                            class="flex flex-shrink-0 flex-col gap-y-8px border-t border-black p-16px dark:border-white md:flex-row">
                            <div class="h3 flex-shrink-0 uppercase md:w-[164px] xl:w-[205px]">Tools Used //</div>
                            <p class="p2">Figma, Adobe Photoshop, After Effects, HTML, CSS, JavaScript, Three.js</p>
                        </div>
                    </a>

                    <!--item-2-col-->
                    <a
                        href="/project-video.html"
                        class="col-span-full flex flex-col border border-black dark:border-white lg:col-span-2">
                        <div class="flex-shrink-0 md:flex">
                            <div class="flex flex-shrink-0 items-center p-16px md:py-24px">
                                <h3 class="h3 uppercase">Kultura</h3>
                            </div>
                            <div
                                class="flex flex-grow items-center border-t border-black p-16px dark:border-white md:border-t-0 md:border-l md:py-0">
                                <p class="p2">Klad is an interdimensional design</p>
                            </div>
                        </div>
                        <div
                            class="relative flex-grow overflow-hidden border-t border-black dark:border-white"
                            data-switch-images>
                            <picture>
                                <img
                                    style="visibility: visible"
                                    class="h-full w-full object-cover"
                                    src="img/projects/4.jpg"
                                    loading="lazy"
                                    alt="Kultura" />
                            </picture>
                            <picture class="absolute top-0 left-0 h-full w-full">
                                <img
                                    style="visibility: hidden"
                                    class="h-full w-full object-cover"
                                    src="img/projects/1.jpg"
                                    loading="lazy"
                                    alt="Kultura" />
                            </picture>
                            <picture class="absolute top-0 left-0 h-full w-full">
                                <img
                                    style="visibility: hidden"
                                    class="h-full w-full object-cover"
                                    src="img/projects/2.jpg"
                                    loading="lazy"
                                    alt="Kultura" />
                            </picture>
                            <picture class="absolute top-0 left-0 h-full w-full">
                                <img
                                    style="visibility: hidden"
                                    class="h-full w-full object-cover"
                                    src="img/projects/3.jpg"
                                    loading="lazy"
                                    alt="Kultura" />
                            </picture>
                        </div>
                        <div
                            class="flex flex-shrink-0 flex-col gap-y-8px border-t border-black p-16px dark:border-white md:flex-row">
                            <div class="h3 flex-shrink-0 uppercase md:w-[164px] xl:w-[205px]">Work scope //</div>
                            <p class="p2">3D, Motion</p>
                        </div>
                        <div
                            class="flex flex-shrink-0 flex-col gap-y-8px border-t border-black p-16px dark:border-white md:flex-row">
                            <div class="h3 flex-shrink-0 uppercase md:w-[164px] xl:w-[205px]">Tools Used //</div>
                            <p class="p2">Blender, After Effects</p>
                        </div>
                    </a>
                </div>
                <button type="button" class="btn mt-40px w-full">More</button>
            </div>
        </section>

        <!--form-->
        @@include("../views/parts/form.html")

        <!--footer-->
        @@include("../views/parts/footer.html")
    </body>
</html>
