<div class="inline-flex w-full flex-col items-start gap-12px md:order-1">
    <a href="/projects.html" class="relative text-left uppercase">
        <picture>
            <img
                class="pointer-events-none invisible absolute top-0 left-0 hidden h-[150px] w-[150px] max-w-none -translate-y-1/2 -translate-x-1/2 select-none object-contain opacity-0 md:block"
                src="img/3d.png"
                alt="3d model"
                aria-hidden="true" />
        </picture>
        <span class="relative z-[1]">Brand strategy</span>
    </a>
    <a href="/projects.html" class="relative text-left uppercase">
        <span class="relative z-[1]">Brand identity</span>
    </a>
    <a href="/projects.html" class="relative text-left uppercase">
        <span class="relative z-[1]">Messaging</span>
    </a>
    <a href="/projects.html" class="relative text-left uppercase">
        <span class="relative z-[1]">SMM</span>
    </a>
</div>
<div class="mt-12px inline-flex w-full flex-col items-start gap-12px md:order-3 md:mt-0">
    <a href="/projects.html" class="relative text-left uppercase">
        <span class="relative z-[1]">Web-development</span>
    </a>
    <a href="/projects.html" class="relative text-left uppercase">
        <span class="relative z-[1]">Front-end</span>
    </a>
    <a href="/projects.html" class="relative text-left uppercase">
        <span class="relative z-[1]">Data visualisation</span>
    </a>
</div>
<div class="inline-flex w-full flex-col items-start gap-12px md:order-2">
    <a href="/projects.html" class="relative text-left uppercase">
        <span class="relative z-[1]">Web-design</span>
    </a>
    <a href="/projects.html" class="relative text-left uppercase">
        <span class="relative z-[1]">Motion design</span>
    </a>
    <a href="/projects.html" class="relative text-left uppercase">
        <picture>
            <img
                class="pointer-events-none invisible absolute top-0 left-0 hidden h-[150px] w-[150px] max-w-none -translate-y-1/2 -translate-x-1/2 select-none object-contain opacity-0 md:block"
                src="img/3d.png"
                alt="3d model"
                aria-hidden="true" />
        </picture>
        <span class="relative z-[1]">3D modelling</span>
    </a>
    <a href="/projects.html" class="relative text-left uppercase">
        <span class="relative z-[1]">UI/UX</span>
    </a>
</div>
<div class="mt-12px inline-flex w-full flex-col items-start gap-12px md:order-4 md:mt-0">
    <a href="/projects.html" class="relative text-left uppercase">
        <span class="relative z-[1]">Sound engineering</span>
    </a>
    <a href="/projects.html" class="relative text-left uppercase">
        <span class="relative z-[1]">Sound design</span>
    </a>
</div>
<div
    class="mt-12px inline-flex w-full flex-col items-start gap-12px md:order-5 md:col-start-3 md:row-start-1 md:mt-0 lg:col-start-6">
    <a href="/projects.html" class="relative text-left uppercase text-grey">
        <picture>
            <img
                class="pointer-events-none invisible absolute top-0 left-0 hidden h-[150px] w-[150px] max-w-none -translate-y-1/2 -translate-x-1/2 select-none object-contain opacity-0 md:block"
                src="img/3d.png"
                alt="3d model"
                aria-hidden="true" />
        </picture>
        <span class="relative z-[1]">All</span>
    </a>
</div>
