<footer class="px-10px md:px-20px">
    <div class="p2 grid grid-cols-6 border-t border-black dark:border-white">
        <div class="col-span-3 py-14px px-16px md:col-span-2 lg:col-span-1">Georgia, Tbilisi</div>
        <div
            class="col-span-3 flex flex-col items-start gap-12px border-l border-black py-14px px-16px dark:border-white md:col-span-2 md:gap-2px lg:col-span-1">
            <a href="mailto:info@klad.design" class="afterline">info@klad.design</a>
            <a href="tel:995-591-018-573" class="afterline">+995 591 018 573</a>
        </div>
        <div
            class="col-span-full flex items-center gap-8px border-t border-black px-8px py-14px dark:border-white md:col-span-2 md:border-t-0 md:border-l lg:col-span-1">
            <a href="#" class="transition hover:scale-x-75" aria-label="Our Instagram">
                <svg class="h-40px w-40px fill-current" aria-hidden="true">
                    <use xlink:href="img/sprite.svg#instagram"></use>
                </svg>
            </a>
            <a href="#" class="transition hover:scale-x-75" aria-label="Our Behance">
                <svg class="h-40px w-40px fill-current" aria-hidden="true">
                    <use xlink:href="img/sprite.svg#behance"></use>
                </svg>
            </a>
            <a href="#" class="transition hover:scale-x-75" aria-label="Our Dibbble">
                <svg class="h-40px w-40px fill-current" aria-hidden="true">
                    <use xlink:href="img/sprite.svg#dribbble"></use>
                </svg>
            </a>
            <a href="#" class="transition hover:scale-x-75" aria-label="Our Linkedin">
                <svg class="h-40px w-40px fill-current" aria-hidden="true">
                    <use xlink:href="img/sprite.svg#linkedin"></use>
                </svg>
            </a>
        </div>
        <div
            class="col-span-full flex flex-col items-start gap-4px border-t border-black py-14px px-16px dark:border-white md:col-span-2 lg:col-span-1 lg:border-t-0 lg:border-l">
            <a href="/privacy.html" class="afterline">Privacy policy</a>
        </div>
        <div
            class="col-span-full border-t border-black py-14px px-16px dark:border-white md:col-span-4 md:border-l lg:col-span-2 lg:border-t-0">
            <p>
                © Klad. Creative design syndicate.
                <br />
                All Rights Reserved.
            </p>
        </div>
    </div>
</footer>

<script src="js/main.js"></script>
<script src="js/vendor.js"></script>
