<footer class="px-10px md:px-20px">
    <div class="grid grid-cols-6 p2 border-t border-black dark:border-white">
        <div class="col-span-3 md:col-span-2 lg:col-span-1 py-14px px-16px">
            Georgia, Tbilisi
        </div>
        <div class="col-span-3 md:col-span-2 lg:col-span-1 py-14px px-16px flex flex-col items-start gap-4px sm:gap-2px border-l border-black dark:border-white">
            <a href="mailto:info@klad.design" class="afterline">info@klad.design</a>
            <a href="tel:995-591-018-573" class="afterline">+995 591 018 573</a>
        </div>
        <div class="col-span-full md:col-span-2 lg:col-span-1 px-8px py-14px flex items-center gap-8px border-t md:border-t-0 md:border-l border-black dark:border-white">
            <a href="#" class="transition hover:scale-x-75" aria-label="Our Instagram">
                <svg class="w-40px h-40px fill-current" aria-hidden="true">
                    <use xlink:href="img/sprite.svg#instagram"></use>
                </svg>
            </a>
            <a href="#" class="transition hover:scale-x-75" aria-label="Our Behance">
                <svg class="w-40px h-40px fill-current" aria-hidden="true">
                    <use xlink:href="img/sprite.svg#behance"></use>
                </svg>
            </a>
            <a href="#" class="transition hover:scale-x-75" aria-label="Our Dibbble">
                <svg class="w-40px h-40px fill-current" aria-hidden="true">
                    <use xlink:href="img/sprite.svg#dribbble"></use>
                </svg>
            </a>
            <a href="#" class="transition hover:scale-x-75" aria-label="Our Linkedin">
                <svg class="w-40px h-40px fill-current" aria-hidden="true">
                    <use xlink:href="img/sprite.svg#linkedin"></use>
                </svg>
            </a>
        </div>
        <div class="col-span-full md:col-span-2 lg:col-span-1 py-14px px-16px flex flex-col items-start gap-4px border-t lg:border-t-0 lg:border-l border-black dark:border-white">
            <a href="#" class="afterline">Privacy policy</a>
        </div>
        <div class="col-span-full md:col-span-4 lg:col-span-2 py-14px px-16px border-t md:border-l lg:border-t-0 border-black dark:border-white">
            <p>© Klad. Creative design syndicate. <br>All Rights Reserved.</p>
        </div>
    </div>
</footer>

<script src="js/main.js"></script>
<script src="js/vendor.js"></script>
</body>
</html>