<section
    id="form"
    x-data="{ showExpress: true, scroll() { setTimeout(() => { $el.scrollIntoView({ behavior: 'smooth' }) }, 300) } }"
    x-init="$watch('showExpress', () => $dispatch('change-express', showExpress))"
    class="mt-60px px-10px md:mt-80px md:px-20px">
    <div class="relative flex flex-col border-t border-black dark:border-white lg:flex-row lg:gap-20px">
        <!--toggles-->
        <div
            :class="!showExpress ? 'lg:!left-0 lg:!translate-x-0' : 'lg:left-full lg:-translate-x-full'"
            class="sticky top-0 bottom-0 z-10 flex bg-white transition-all dark:bg-black lg:absolute lg:left-full lg:w-[calc((100%_-_100px)_/_6)] lg:shrink-0 lg:-translate-x-full lg:duration-500">
            <div
                :class="showExpress ? 'lg:ml-auto lg:mr-[22px] xl:mr-40px' : 'lg:!mr-auto lg:!ml-[22px] xl:!ml-[35px]'"
                class="w-full lg:ml-auto lg:mr-[22px] lg:flex lg:h-auto lg:w-auto lg:flex-col-reverse lg:[writing-mode:vertical-lr] xl:mr-40px">
                <a
                    href="#"
                    @click.prevent="showExpress = false; scroll()"
                    :class="!showExpress || 'text-grey before:border-t-grey after:border-r-grey'"
                    class="btn w-full border-x-0 border-t-0 py-20px px-0 lg:border-y-0 lg:border-l lg:p-24px lg:before:mr-0 lg:before:mb-14px lg:after:ml-0 lg:after:mt-14px"
                    type="button">
                    Custom design
                </a>
                <a
                    href="#"
                    @click.prevent="showExpress = true; scroll()"
                    :class="showExpress || 'text-grey before:border-t-grey after:border-r-grey'"
                    class="btn w-full border-0 py-20px px-0 lg:p-24px lg:before:mr-0 lg:before:mb-14px lg:after:ml-0 lg:after:mt-14px"
                    type="button">
                    Express design
                </a>
            </div>
        </div>

        <!--tabs-custom-->
        <div
            x-show="!showExpress"
            :class="!showExpress ? 'lg:!max-w-full' : 'lg:max-w-0'"
            class="order-first overflow-hidden md:-mx-20px md:px-20px lg:absolute lg:top-0 lg:right-0 lg:z-[1] lg:mx-0 lg:!block lg:!h-full lg:w-full lg:max-w-0 lg:bg-white lg:px-0 lg:!transition-all lg:!duration-500 dark:lg:bg-black"
            x-cloak
            x-collapse>
            <div
                class="relative flex min-h-[620px] flex-col items-center justify-center py-80px text-center md:min-h-[808px] md:items-start lg:absolute lg:top-0 lg:right-0 lg:min-h-full lg:w-[calc((100vw_-_140px)_/_6_*_5_+_80px)]">
                <h2 class="h1">Work with us</h2>
                <div
                    class="p1 mt-24px mb-[65px] flex flex-col items-center md:mb-20px md:flex-row md:flex-wrap lg:mt-40px">
                    <span>We are always ready to</span>
                    <a
                        href="mailto:info@klad.design?subject=New%20project%20with%20Klad%20studio"
                        class="btn-skew my-6px md:my-0 md:mx-10px xl:mx-20px"
                        data-text="discuss the details">
                        <span>discuss the details</span>
                    </a>
                    <span>of your new project.</span>
                </div>
                <video
                    id="formTwist"
                    class="pointer-events-none absolute bottom-0 left-[calc(50%_-_181px)] -z-[1] h-[388px] w-[362px] mix-blend-darken transition-all dark:block dark:mix-blend-lighten md:left-[calc(50%_-_70px)] md:bottom-[calc(50%_-_290px)] md:h-[548px] md:w-[512px] lg:bottom-[calc(50%_-_305px)] lg:left-[calc(50%_-_195px)] lg:h-[665px] lg:w-[622px] xl:bottom-[calc(50%_-_350px)] xl:left-[calc(50%_-_175px)] xl:h-[704px] xl:w-[658px]"
                    data-path="files/twist-1316"
                    data-path-dark="files/twist-dark-1316"
                    autoplay
                    playsinline
                    loop
                    muted></video>
            </div>
        </div>

        <!--tabs-express-->
        <div
            x-show="showExpress"
            class="lg:!block lg:!h-auto lg:w-[calc((100%_-_100px)_/_6_*_5_+_80px)] lg:!overflow-visible"
            x-collapse>
            <div class="gap-20px pt-40px pb-60px lg:grid lg:grid-cols-5 lg:py-80px">
                @@include("../parts/form-express.html")
            </div>
        </div>
    </div>
</section>
