<!-- prettier-ignore-attribute -->
<header
    id="header"
    class="@@if(this.style === 'sticky'){is-sticky md:sticky md:top-0} relative z-40 bg-white px-10px transition dark:bg-black md:px-20px"
    x-data="{ isScrolled: false, openMenu: false, openShowreel: false }"
    x-init="isScrolled = $el.classList.contains('is-sticky') ? window.scrollY >= 114 : true; $watch('openMenu', () => $dispatch('open-menu', openMenu)); $watch('openShowreel', () => $dispatch('open-showreel', openShowreel))"
    @scroll.window="if($el.classList.contains('is-sticky')){ isScrolled = (window.scrollY >= 114) }"
    @keydown.escape="openShowreel = false">
    <div
        class="flex flex-wrap md:grid md:grid-cols-[auto_1fr_auto] lg:grid-cols-[auto_1fr_1fr_1fr_220px_220px] xl:grid-cols-[auto_1fr_1fr_1fr_310px_310px]">
        <!--logo-->
        <div
            :class="isScrolled && 'md:!w-[77px] lg:!w-[97px] xl:!w-[116px] !border-r'"
            class="order-first row-span-2 flex origin-left items-center border-r border-black transition-all dark:border-white md:w-0 md:border-r-0 md:border-b">
            <a href="/" class="w-full p-10px pl-0 md:pr-16px lg:pr-20px">
                <span
                    id="logo"
                    class="w-full dark:invert"
                    aria-label="Klad Syndicate logotype"
                    data-animation-path="files/klad.json"></span>
            </a>
        </div>

        <!--links-->
        <div
            class="hidden flex-col items-start justify-center gap-6px border-l border-black px-16px text-h3_lg font-medium uppercase dark:border-white lg:col-span-1 lg:flex xl:text-h3_xl">
            <a class="hover:text-grey" href="/about.txt" target="_blank">About.txt</a>
            <a class="hover:text-grey" href="/projects.html">Projects</a>
        </div>

        <!--toggles-->
        <div
            class="flex flex-1 flex-wrap content-center gap-x-4px border-black px-8px dark:border-white md:flex-initial md:border-l md:pr-0 lg:col-span-1 lg:gap-x-12px lg:gap-y-2px lg:px-16px">
            <a
                class="hidden text-h3_lg font-medium uppercase hover:text-grey lg:block xl:text-h3_xl"
                href="/express.html">
                Express design
            </a>
            <div class="hidden w-full lg:block"></div>
            <button @click="openShowreel = true" class="group p-6px lg:p-0" aria-label="Open showreel" type="button">
                <svg class="h-24px w-24px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <circle cx="12" cy="12" r="12" class="fill-black dark:fill-white" />
                    <path d="M18 12L8.25 18.0622L8.25 5.93782L18 12Z" class="fill-white dark:fill-black" />
                </svg>
            </button>
            <button data-toggle-theme class="group p-6px lg:p-0" aria-label="Toggle dark mode" type="button">
                <svg class="h-24px w-24px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                        fill-rule="evenodd"
                        clip-rule="evenodd"
                        d="M17 1.08809C12.8689 2.9841 10 7.15701 10 12C10 16.843 12.8689 21.0159 17 22.9119C15.4779 23.6105 13.7844 24 12 24C5.37258 24 4.69686e-07 18.6274 1.04907e-06 12C1.62846e-06 5.37258 5.37258 -1.0165e-06 12 -4.37114e-07C13.7844 -2.81114e-07 15.4779 0.389486 17 1.08809Z"
                        class="fill-black dark:fill-transparent" />
                    <path
                        fill-rule="evenodd"
                        clip-rule="evenodd"
                        d="M7 22.9119C11.1311 21.0159 14 16.843 14 12C14 7.15701 11.1311 2.9841 7 1.08809C8.52211 0.389487 10.2156 -1.20507e-06 12 -1.04907e-06C18.6274 -4.69686e-07 24 5.37258 24 12C24 18.6274 18.6274 24 12 24C10.2156 24 8.52211 23.6105 7 22.9119Z"
                        class="dark:fill-white" />
                    <circle cx="12" cy="12" r="11.5" class="stroke-black dark:stroke-white" />
                </svg>
            </button>
            <button
                @click="openMenu = !openMenu;"
                x-text="openMenu ? 'Close' : 'Menu'"
                class="ml-auto min-w-[56px] p-6px text-h3 uppercase md:ml-auto md:p-0 md:text-h3_md lg:hidden"
                aria-label="Toggle menu"
                type="button"></button>
        </div>

        <!--mobile menu-->
        <div
            class="relative order-last col-span-full w-full border-t border-t-black dark:border-t-white md:border-t-0 lg:!hidden">
            <nav
                x-show="openMenu"
                x-collapse.duration.500ms
                @click.outside="openMenu = false"
                style="display: none"
                class="absolute inset-x-0 z-10 border border-t-0 border-black bg-white text-h2_md font-bold uppercase dark:border-white dark:bg-black md:text-h2_xl">
                <ul class="flex flex-col space-y-24px py-40px px-10px md:px-20px">
                    <li>
                        <a class="hover:text-grey" href="/about.txt">About.txt</a>
                    </li>
                    <li>
                        <a class="hover:text-grey" href="/projects.html">Projects</a>
                    </li>
                    <li>
                        <a class="hover:text-grey" href="/express.html">Express design</a>
                    </li>
                    <li>
                        <a
                            class="hover:text-grey"
                            href="mailto:info@klad.design?subject=New%20project%20with%20Klad%20studio">
                            Work with us
                        </a>
                    </li>
                </ul>
            </nav>
        </div>

        <!--title-->
        <div
            :class="isScrolled && 'md:pl-16px'"
            class="hidden w-full flex-none pt-24px md:order-first md:block md:overflow-hidden md:whitespace-nowrap md:py-12px md:pr-16px lg:col-span-3">
            <h1 class="slide-text text-h1 font-bold lg:text-h1_lg xl:text-h1_xl" data-slide-text>
                <span>Making your competitors jealous</span>
                <span>Your making jealous competitors</span>
            </h1>
        </div>

        <!--subtitle-->
        <div
            :class="isScrolled && 'md:pl-16px'"
            class="hidden w-full flex-none overflow-hidden border-black py-14px dark:border-white md:col-span-2 md:block md:flex md:items-center md:border-y md:py-2px md:pr-16px lg:col-span-5">
            <svg
                :class="isScrolled && 'hidden'"
                class="h-14px w-14px flex-initial fill-current lg:mr-12px lg:h-16px lg:w-16px xl:h-18px xl:w-18px"
                aria-hidden="true">
                <use xlink:href="img/sprite.svg#cross"></use>
            </svg>
            <h2 class="slide-text text-p2 font-normal md:text-p2_md lg:text-p2_lg xl:text-p2_xl" data-slide-text>
                <span>We create professional design for memorable customer experience</span>
                <span>We create professional code for memorable customer experience</span>
                <span>We create professional 3d for memorable customer experience</span>
            </h2>
        </div>
    </div>

    <!--showreel-->
    <!--TODO: Custom player-->
    <div
        class="fixed top-0 left-0 z-10 flex h-full w-full overflow-auto p-10px backdrop-blur-sm md:p-20px"
        x-show="openShowreel"
        x-transition
        x-cloak>
        <div
            class="m-auto w-full border border-black bg-white dark:border-white dark:bg-black"
            @click.away="openShowreel = false">
            <iframe
                x-ref="showreelIframe"
                class="aspect-video w-full"
                :src="openShowreel && 'https://www.youtube.com/embed/80OKK4_5bHU?controls=0&autoplay=1&loop=1&rel=0'"
                frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
        </div>
    </div>
</header>
