<head>
    <meta charset="utf-8" />
    <title>@@title</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="styles/main.css" />

    <!--favicon-->
    <link rel="apple-touch-icon" sizes="180x180" href="img/favicon/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="img/favicon/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="img/favicon/favicon-16x16.png" />
    <link rel="manifest" href="img/favicon/site.webmanifest" />
    <link rel="mask-icon" href="img/favicon/safari-pinned-tab.svg" color="#000000" />
    <meta name="apple-mobile-web-app-title" content="Klad Design" />
    <meta name="application-name" content="Klad Design" />
    <meta name="msapplication-TileColor" content="#000000" />
    <meta name="theme-color" content="#000000" />

    <!--alpine-->
    <script src="//unpkg.com/@alpinejs/collapse" defer></script>
    <script src="//unpkg.com/alpinejs" defer></script>

    <style>
        [x-cloak] {
            display: none !important;
        }
    </style>
</head>
